


* { 
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  
}

html {
  height: 100%; 
}

.main-container{
margin-bottom:5%;

}
#home-page{
  margin-top:30px;
}

h1,h2,h3{
  padding-top:5px;
  padding-bottom:5px;
  font-weight: bolder;
}
header,h1,h2,.question-text{
  font-family: 'Poppins', sans-serif; 
  
}
#next-question, #show-results, #restart-quiz-button{
margin-top:5px;
}

  

#next-question:hover, #submit-button:hover, #show-results:hover, #restart-quiz-button:hover, #start-quiz:hover{
  color:purple;
  transform: scale(1.2); 
}

.no-answer{
  margin-bottom:5px;
}
fieldset{
  
  border:none;
text-align:left;
margin-left:30%;
margin-top:3%;


}
.main-container{
  padding-bottom:20px;
}



@media screen and (min-width:320px) {
  body {
    margin: auto;
    text-align: center;
    background-image: url(https://images.pexels.com/photos/32307/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
  
  }
  
  #next-question, #submit-button, #show-results, #restart-quiz-button, #start-quiz {
    text-align: center; 
    color: black;
    background-color: white; 
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom:10px;
  
    
  } 
  
  header {
    margin-left:10%;
    margin-right:10%;
    background:#000000;
    opacity: 0.9;
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }

  h1 {
    font-size: 36px;
    font-style: italic;
    color: white;
  }
  
  h2 {
    font-size: 32px;
    font-style: italic;
    color: white;
  }
  
  h3 {
    font-size: 28px;
    font-style: italic;
    color: white;
  }
  
  main {
    font-size: 18px;
  }

  .incorrect,.correct,.no-answer{
    
    color:blue;
  }
  
  
  
  .main-container {
    margin-left: 10%;
    margin-right:10%;
    background:#ffecdb;
    opacity: 0.8;
    border-radius: 90px;
  }
}

@media screen and (min-width:768px) {
  .main-container {
    margin-left: 50px;
    margin-right: 50px;
  }
  .title-2{
    margin-top:10%;
  }

  fieldset{
    margin-left:40%;
  }
  

}


@media screen and (min-width:1024px) {
  h1 {
    font-size: 58px;
  }
  h2 {
    font-size: 52px;
  }
  h3 {
    font-size: 40px; 
  }
  main {
    font-size: 28px;
    font-weight: lighter;
  }

}
