/* Your styles should be mobile-first and responsive

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


* { 
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}

body {
  margin: auto;
  text-align: center; 
  background-color: white;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a5/Map_of_USA_with_state_names.svg);
  background-repeat: no-repeat; 
  background-size: cover;
}

input[type="button"] {
  text-align: center; 
}

/* @media screen and (min-width:320px) {
  .main-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px; 
  }
  .header-texts {
    display:flex;
    flex-direction: column;
    align-items: center;
  } 
} */