/* Your styles should be mobile-first and responsive

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


* { 
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
  cursor: pointer;
}

html {
  height: 100%; 
}

@media screen and (min-width:320px) {
  body {
    margin: auto;
    text-align: center;
    background-image: url(https://images.pexels.com/photos/32307/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  #next-question, #submit-button, #show-results, #restart-quiz-button, #start-quiz {
    text-align: center; 
    color: black;
    background-color: white; 
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
  } 
  
  header {
    margin: auto;
    background:#000000;
    opacity: 0.8;
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }

  h1 {
    font-size: 36px;
    font-style: italic;
    color: white;
  }
  
  h2 {
    font-size: 32px;
    font-style: italic;
    color: white;
  }
  
  h3 {
    font-size: 28px;
    font-style: italic;
    color: white;
  }
  
  main {
    font-size: 18px;
  }

  input[type="radio"] {
    vertical-align: middle;
  }
  
  .main-container {
    margin: auto;
    background:#ffecdb;
    opacity: 0.8;
    border-radius: 90px;
  }
}

@media screen and (min-width:768px) {
  .main-container {
    margin-left: 50px;
    margin-right: 50px;
  }
  header {
    margin-top: 300px;
  }
}

@media screen and (min-width:1024px) {
  h1 {
    font-size: 58px;
  }
  h2 {
    font-size: 52px;
  }
  h3 {
    font-size: 48px; 
  }
  main {
    font-size: 28px;
  }
}
